* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lucida Fax", "Lucida Bright", serif;
}

body {
	background: #EEE9BF;
	color: #76753f;	
}


/* HEADER STYLES */
	
	.loading {
	visibility: hidden;
	}

	header {
		background: #79864B;
		color: #fff;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo img {
		width: 5vw;
		margin-right: 5px;
	}
	
	nav a {
		color: #fff;
		text-decoration: none;
		margin-left: 20px;
	}

	nav a:hover {
		text-decoration: underline;
	}
	
	.header-left {
	  display: flex;
	  align-items: center;
	}
	
	.header-right {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.header-title {
	  display: flex;
	  align-items: center;
	}
	
	.title-text {
	  display: flex;
	  flex-direction: column;
	  line-height: 1.1;
	}

	.layer {
		font-size: 1.5vw;
	}

	.search-bar {
		margin-left: 20px;
	}
	
	.search-bar input {
		width: 100%;
		max-width: 400px;
		padding: 6px 25px;
		border-radius: 20px;
		border: none;
		font-size: 14px;
	}
	
	.search-button{
		font-size: 5vw;
	}
	
	.search-icon{
		background: none;
		border: none;
		color: white;
		font-size: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 6px;
		border-radius: 50px;
	}
	
	.search-icon:focus {
	  background: #5f6742;
	}

	/* MOBILE SEARCH BAR */
	.header-search {
		display: none;
		flex: 1;
	}

	.header-search input {
		width: 100%;
		padding: 6px 12px;
		border-radius: 20px;
		border: none;
	}

	/* active state */
	.header-search.active {
		display: block;
	}

	.header-title.hidden {
		display: none;
	}

/* CONTENT STYLES */

	.content-container {
		padding: 16px;
	}

/* FOOTER STYLES */

	footer {
		text-align: center;
		font-size: 0.8vw;
		padding: 10px;
		color: #76753f;
	}
	
/* SIDE NAVIGATION */
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #79864B;
	  overflow-x: hidden;
	  padding-top: 60px;
	  transition: 0.5s;
	}

	/* The navigation menu links */
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: white;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:focus {
	  background: #5f6742;
	}

	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
	}
	
	.closebtn:focus{
		background: #5f6742;
	}
	
	.logo-nav {
		display: flex;
		justify-content: center;
		padding: 10px;
	}
	
	.logo-nav img {
		width: 20vw;
	}

	@media screen and (max-height: 450px) {
	  .sidenav {padding-top: 15px;}
	  .sidenav a {font-size: 18px;}
	}
	
	/* Hide Mobile header on Desktop by default */
	.mobile-header { display: none; }

	/* Header for mobile devices*/
	@media (max-width: 767px) {
		.desktop-header { display: none; }
		.mobile-header { display: flex; }
		
		/* resizing for mobile */
		.logo img {width: 12vw;}
		.layer {font-size: 3vw;}
		footer{font-size: 3vw;}
	}